<div>
  {{ message }}
  <form class="cover__form" id="form">
    <label for="name">Name:</label>
    <input class="input" type="text" id="name" placeholder="Name" v-model="name">

    <input class="input" type="file" id="image-upload">

    <input class="input" type="button" value="Add Cover" @click="sendForm()">
  </form>

  <table class="table">
    <thead>
    <tr class="table__row--head">
      <th class="table__cell">ID</th>
      <th class="table__cell">NAME</th>
      <th class="table__cell">IMAGE</th>
      <th class="table__cell table__cell--center table__cell--action">ACTIONS</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="cover in covers" class="table__row--body" :id="'cover-'+cover.id">
      <td class="table__cell">{{ cover.id }}</td>
      <td class="table__cell">{{ cover.name }}</td>
      <td class="table__cell">
        <img :src="cover.image_path" :alt="cover.name" class="cover-image">
      </td>
      <td class="table__cell table__cell--center">
        <span class="btn btn--danger" @click="deleteCover(cover.id)">
          <i class="fa fa-trash-o fa-lg"></i>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
