src/backend/node_modules
src/backend/public/hot
src/backend/public/storage
src/backend/storage/*.key
src/backend/vendor
src/backend/.idea
src/backend/.vagrant
src/backend/Homestead.json
src/backend/Homestead.yaml
src/backend/.env
src/backend/public/css/
src/backend/public/js/
src/backend/public/images/


portfolio_laradock/logs

.idea/
npm-debug.log
data