<div class="form__container">
  <div class="form__item">
    <label for="name">Name: </label>
    <input type="text" v-model="authorName" placeholder="name" id="name">
  </div>
  <div class="form__item">
    <label for="email">Email: </label>
    <input type="text" v-model="authorEmail" placeholder="email" id="email">
  </div>
  <div class="form__item">
    <label for="Message">Message: </label>
    <textarea v-model="text" placeholder="message" id="message" class="textarea"></textarea>
  </div>
  <input type="button" value="Place Comment" @click="sendComment">
</div>
