html,body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.container{
    @include roboto('regular');
    font-size: 15px;
    color: $blue-dark;
    background-color: $blue-light;
}


.no-select{
    user-select: none;
}