@import "../../../../static/scss/_import.scss";

.tile{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  width: 256px;
  height: 256px;
  background-color: $blue-main;
  color: $blanco;
  @mixin roboto $bold 17px;

  &:hover{
    background-color: $blue-dark;
  }
}
