<?xml version="1.0"?>
<Settings>
    <Containers>
        <Container>caddy</Container>
        <Container>mysql</Container>
    </Containers>
    <ContainerPrefix>portfolio-docker</ContainerPrefix>
    <DockerComposeLocation>../../../portfolio-docker</DockerComposeLocation>
    <AfterDoneLocation>../../../</AfterDoneLocation>
</Settings>