<?xml version="1.0"?>
<Settings>
    <Containers>
        <Container>caddy</Container>
        <Container>mysql</Container>
    </Containers>
    <ContainerPrefix>portfoliolaradock</ContainerPrefix>
    <DockerComposeLocation>../../../portfolio_laradock</DockerComposeLocation>
    <AfterDoneLocation>../../../</AfterDoneLocation>
</Settings>