@import "./_import.scss";

table {
  background-color: $blanco;
  color: $blue-dark;
  @mixin roboto $regular;
  border-spacing: 0 2px;
  width: 100%;
}
tbody>tr {
  background-color: $blue-light-alt;
  &:nth-child(2n+1) {
    background-color: $blue-light;
  }
}
td, th{
  text-align: left;
  padding: 6px 10px;
}

.table__cell {
  &--spaced {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &--center {
    text-align: center;
  }
}
