/* COLORS */
$blanco: #FFFFFF;
$blue-main: #2C3E50;
$blue-dark: #1A2734;
$blue-light: #EBF1F8;
$blue-light-alt: #E0D8F2;
$purple-light: #9B59B6;
$purple-dark: #83429D;

$tile1: #E3008C;
$tile2: #BF0077;
$tile2: #C239B3;
$tile3: #9A0089;
$tile4: #0078D7;
$tile5: #0063B1;
$tile6: #8E8CD8;
$tile7: #6B69D6;
$tile8: #8764B8;
$tile9: #744DA9;
$tile10: #B146C2;
$tile11: #881798;

/* FONT WEIGHTS */
$bold: 700;
$regular: 400;
$light: 300;

/* SIZES */
$menu-width: 145px;
