@include breakpoint(phablet){
    .nav{
        width: $nav-size-desktop;
        height: 100vh;
        &__list{
            height: 100%;
        }
        &__item{
            width: $nav-size-desktop;
            height: $nav-size-desktop;
        }
    }

    .container{
        margin-left: $nav-size-desktop;
    }
}
