@include breakpoint(mobileonly){
    .nav{
        width: 100vw;
        height: $nav-size-mobile;
        &__list{
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }
        &__item{
            height: $nav-size-mobile;
            padding: 20px;
        }
    }

    .container{
        margin-top: $nav-size-mobile;
    }
}
