@include breakpoint(phablet){
    .nav{
        width: 9em;
        height: 100vh;
        &__img{
            height: 13em;
            background-image: url("../../img/stefan.jpg");
            background-position-x: -72px;
            transform: scaleX(-1);

        }
        &__name{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $purple-light;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: bold;
            height: 3em;
        }
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 8em;
        }
        &__tab{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            padding: 10px;
        }
    }

    .container{
        margin-left: 9em;
        padding: 5em;
        width: calc(100vw - 9em);
        height: 100vh;
    }
}
