
/* CODE STYLE */
/* BLOCK */
$hljsColor:           #A9B7C6;
$hljsBackground:      #282B2E;

$hljsNumberColor:     #6897BB;
$hljsLiteralColor:    #6897BB;
$hljsSymbolColor:     #6897BB;
$hljsBulletColor:     #6897BB;

$hljsKeyword:         #CC7832;
$hljsSelectorTag:     #CC7832;
$hljsDeletion:        #CC7832;

$hljsVariable:        #629755;
$hljsTemplateVariable:#629755;
$hljsLink:            #629755;

$hljsComment:         #808080;
$hljsQuote:           #808080;

$hljsMeta:            #BBB529;

$hljsString:          #6A8759;
$hljsAttribute:       #6A8759;
$hljsAddition:        #6A8759;

$hljsSection:         #FFC66D;
$hljsTitle:           #FFC66D;
$hljsType:            #FFC66D;

$hljsName:            #E8BF6A;
$hljsSelectorId:      #E8BF6A;
$hljsSelectorClass:   #E8BF6A;
